#jinja2: trim_blocks:False
{
{% if lookup('env','TEST') == '1' %}    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory{% endif %}
    email certificate@saitho.me
}

*:80 {
    encode gzip
    root * /usr/share/caddy
    file_server
}

import conf.d/*.conf